{{> sidebar}}
<div class="profile-box">
    <div class="image-container">
        <img src="images/profile.jpg" alt="" class="profile-image">
        <div class="edit-overlay">
            <button class="edit-button">Editar</button>
        </div>
    </div>
    <div class="profile-info">
        <div class="info-row">
            <label for="email">Email:</label>
            <input type="email" id="email" value="{{usuarioLogado.email}}" readonly>
            <button class="edit-button" onclick="toggleEdit('email')"><i class="bx bx-edit-alt"
                    style="font-size: 18px;"></i></button>
        </div>
        <div class="info-row">
            <label for="username">Nome de usuário:</label>
            <input type="text" id="username" value="{{usuarioLogado.nome}}">
            <button class="edit-button" onclick="toggleEdit('username')"><i class="bx bx-edit-alt"
                    style="font-size: 18px;"></i></button>
        </div>
        <div class="info-row">
            <label for="password">Senha:</label>
            <input type="password" id="password" value="{{usuarioLogado.senha}}" readonly>
            <button class="edit-button" onclick="toggleEdit('password')"><i class="bx bx-edit-alt"
                    style="font-size: 18px;"></i></button>
        </div>
    </div>
</div>