<div class="sidebar">
    <div class="logo-details">
        <i class="bx bx-user"></i>
        <span class="logo_name">
            <span class="game">GAME</span><span class="house">HOUSE</span>
        </span>
    </div>
    <ul class="nav-links">
        <li>
            <a href="/login" class="active">
                <i class="bx bx-grid-alt"></i>
                <span class="links_name">Dashboard</span>
            </a>
        </li>
        <li>
            <a href="/produtos">
                <i class="bx bx-box"></i>
                <span class="links_name">Products</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="bx bx-list-ul"></i>
                <span class="links_name">Order list</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="bx bx-pie-chart-alt-2"></i>
                <span class="links_name">Analytics</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="bx bx-coin-stack"></i>
                <span class="links_name">Stock</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="bx bx-cog"></i>
                <span class="links_name">Setting</span>
            </a>
        </li>
        <li class="log_out">
            <a href="/deslogar">
                <i class="bx bx-log-out"></i>
                <span class="links_name">Log out</span>
            </a>
        </li>

    </ul>
</div>
<section class="home-section">
    <nav>
        <div class="sidebar-button">
            <i class="bx bx-menu sidebarBtn" id="sidebarBtn"></i>
            <span class="dashboard">Dashboard</span>
        </div>
        <div class="search-box">
            <input type="text" placeholder="Search..." />
            <i class="bx bx-search"></i>
        </div>


        <div class="nightmode-btn">
            <i class="bx bx-moon"></i>
        </div>
        <div class="profile-details" onclick="toggleCombobox()">

            <img src="images/profile.jpg" alt="" />
            <span class="admin_name">{{usuarioLogado.nome}}</span>
            <i class="bx bx-chevron-down"></i>
            <div class="combobox" id="profileCombobox">
                <a href="/profile"> <i class="bx bx-user" style="font-size: 18px;"></i> Profile</a>
                <a href="/deslogar"> <i class="bx bx-log-out" style="font-size: 18px;"></i> Deslogar</a>
            </div>
        </div>
    </nav>



</section>
<div class="profile-box">
    <div class="image-container">
        <img src="images/profile.jpg" alt="" class="profile-image">
        <div class="edit-overlay">
            <button class="edit-button">Editar</button>
        </div>
    </div>
    <div class="profile-info">
        <div class="info-row">
            <label for="email">Email:</label>
            <input type="email" id="email" value="{{usuarioLogado.email}}" readonly>
            <button class="edit-button" onclick="toggleEdit('email')"><i class="bx bx-edit-alt"
                    style="font-size: 18px;"></i></button>
        </div>
        <div class="info-row">
            <label for="username">Nome de usuário:</label>
            <input type="text" id="username" value="{{usuarioLogado.nome}}">
            <button class="edit-button" onclick="toggleEdit('username')"><i class="bx bx-edit-alt"
                    style="font-size: 18px;"></i></button>
        </div>
        <div class="info-row">
            <label for="password">Senha:</label>
            <input type="password" id="password" value="{{usuarioLogado.senha}}" readonly>
            <button class="edit-button" onclick="toggleEdit('password')"><i class="bx bx-edit-alt"
                    style="font-size: 18px;"></i></button>
        </div>
    </div>
</div>