<section class="home-section">
  <div class="container">
    <div class="add-flashcard-con">
      <button id="add-flashcard">Adicionar Produto</button>
    </div>

    <div id="card-con">
      <div class="card-list-container"></div>
    </div>
  </div>

  <!-- Modal de Adicionar Produto -->
  <div class="question-container hide" id="add-question-card">
    <h2>Adicionar produto</h2>
    <div class="wrapper">
      <!-- Mensagem de Erro -->
      <div class="error-con">
        <span class="hide" id="error">Input fields cannot be empty!</span>
      </div>
      <!-- Botão de Fechar -->
      <i class="fa-solid fa-xmark" id="close-btn"></i>
    </div>

    <label for="question">Produto</label>
    <textarea class="input" id="question" placeholder="Digite o nome do produto aqui" rows="2"></textarea>
    <label for="answer">Descrição</label>
    <textarea class="input" id="answer" rows="4" placeholder="Digite a descrição do produto aqui"></textarea>
    <button id="save-btn">Salvar</button>
  </div>

  <!--modal para mostrar mais -->
  <div class="question-container hide" id="show-more-modal">
    <h2 id="show-more-title">Detalhes do Produto</h2>
    
    <div class="wrapper">
      <!-- Botão de Fechar -->
      <i class="fa-solid fa-xmark" id="close-show-more"></i>
    </div>
  
    <!-- Comment box -->
    <div class="comment-box">
      <textarea class="input" id="comment" rows="3" placeholder="Adicione um comentário"></textarea>
      <button id="add-comment-btn"><i class="bx bx-paper-plane"></i> </button>
    </div>

    <!-- Lista de comentários -->
    <div class="comment-list">
    </div>

  </div>
</section>
