<footer>
    <div class="footercontent">
        <div class="row">
            <div class="col" id="company">
                <img src="images/logo.png" alt="" class="logo">
                <p>
                    We are here to bring your happiness and enjoyment through online games and much more.
                </p>
                <div class="social">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>


            <div class="col" id="services">
                <h3>Services</h3>
                <div class="links">
                    <a href="#">24/7 support</a>
                    <a href="#">Virtual events</a>
                    <a href="#">Tournaments</a>
                    <a href="#">Game art</a>
                </div>
            </div>

            <div class="col" id="useful-links">
                <h3>Links</h3>
                <div class="links">
                    <a href="#">About</a>
                    <a href="#">Services</a>
                    <a href="#">Our Policy</a>
                    <a href="#">Help</a>
                </div>
            </div>

            <div class="col" id="contact">
                <h3>Contact</h3>
                <div class="contact-details">
                    <i class="fa fa-location"></i>
                    <p>Senai, Luzerna, <br> SC, BR</p>
                </div>
                <div class="contact-details">
                    <i class="fa fa-phone"></i>
                    <p>+55-49999215720</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form">
                <form action="">
                    <input type="text" placeholder="Email here...">
                    <button><i class="fa fa-paper-plane"></i></button>
                </form>
            </div>
        </div>

    </div>
</footer>