<div class="sidebar">
    <div class="logo-details">
        <i class="bx bx-user"></i>
        <span class="logo_name">
            <span class="game">GAME</span><span class="house">HOUSE</span>
        </span>
    </div>
    <ul class="nav-links">
        <li>
            <a href="/login" class="active">
                <i class="bx bx-grid-alt"></i>
                <span class="links_name">Dashboard</span>
            </a>
        </li>
        <li>
            <a href="/produtos">
                <i class="bx bx-box"></i>
                <span class="links_name">Products</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="bx bx-list-ul"></i>
                <span class="links_name">Order list</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="bx bx-pie-chart-alt-2"></i>
                <span class="links_name">Analytics</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="bx bx-coin-stack"></i>
                <span class="links_name">Stock</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="bx bx-cog"></i>
                <span class="links_name">Setting</span>
            </a>
        </li>
        <li class="log_out">
            <a href="/login">
                <i class="bx bx-log-out"></i>
                <span class="links_name">Log out</span>
            </a>
        </li>
    </ul>
</div>
<section class="home-section">
    <nav>
        <div class="sidebar-button">
            <i class="bx bx-menu sidebarBtn" id="sidebarBtn"></i>
            <span class="dashboard">Dashboard</span>
        </div>
        <div class="search-box">
            <input type="text" placeholder="Search..." />
            <i class="bx bx-search"></i>
        </div>
<a href="login">
    <div class="register-button">
        <i class="bx bx-door-open" id="door"></i>
    </div>
</a>
<a href="register">
    <div class="register-button">
        <i class="bx bx-user-plus"></i>
    </div>
</a>


        <div class="profile-details">
            <img src="images/profile.jpg" alt="" />
            <span class="admin_name">Ramone</span>
            <i class="bx bx-chevron-down"></i>
        </div>
    </nav>
    {{> card}}

</section>



{{> footer}}