@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #C5C6C7;
  height: 100vh;
}

.sidebar {
  position: fixed;
  height: 100%;
  width: 240px;
  /* Tamanho original da sidebar */
  background: #1F2833;
  transition: all 0.5s ease;
}

.sidebar.active {
  width: 60px;
}

/* Ajustes para resoluções menores */
@media (max-width: 1440px) {
  .sidebar {
    width: 200px;
    /* Largura ajustada */
  }

  .sidebar.active {
    width: 50px;
  }

  .home-section {
    width: calc(100% - 200px);
    left: 200px;
  }

  .sidebar.active~.home-section {
    width: calc(100% - 50px);
    left: 50px;
  }

  .home-section nav {
    width: calc(100% - 200px);
    left: 200px;
  }

  .sidebar.active~.home-section nav {
    left: 50px;
    width: calc(100% - 50px);
  }
}

/* Media queries para telas ainda menores */
@media (max-width: 800px) {
  .sidebar {
    width: 100%;
    /* Sidebar como um menu de tela cheia */
    position: relative;
    /* Posicionamento ajustado */
  }

  .home-section,
  .home-section nav {
    width: 100%;
    left: 0;
  }
}

/* Mais ajustes de responsividade podem ser adicionados aqui */


.sidebar.active {
  width: 60px;
}

.sidebar .logo-details {
  height: 80px;
  display: flex;
  align-items: center;
}

.sidebar .logo-details i {
  font-size: 28px;
  font-weight: 500;
  color: #C5C6C7;
  min-width: 60px;
  text-align: center;
}

.sidebar .logo-details .logo_name {
  animation: pulseForward 6s infinite;
  font-size: 24px;
  font-weight: 500;
}

@keyframes pulseForward {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.game {
  color: #00FFFF;
}

.house {
  color: #fff;
}

.sidebar .nav-links {
  margin-top: 10px;
}

.sidebar .nav-links li {
  position: relative;
  list-style: none;
  height: 50px;
}

.sidebar .nav-links li a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  color: #66FCF1;
}

.sidebar .nav-links li a.active {
  background: #1F2833;
}

.sidebar .nav-links li a:hover {
  background: #12181f;
}

.sidebar .nav-links li i {
  min-width: 60px;
  text-align: center;
  font-size: 18px;
  color: #C5C6C7;
}

.sidebar .nav-links li a .links_name {
  color: #66FCF1;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
}

.sidebar .nav-links .log_out {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.home-section {
  position: relative;
  background: #C5C6C7;
  width: calc(100% - 240px);
  min-height: 100vh;
  left: 240px;
  transition: all 0.5s ease;
}

.sidebar.active~.home-section {
  width: calc(100% - 60px);
  left: 60px;
}

.home-section nav {
  display: flex;
  justify-content: space-between;
  height: 80px;
  background: #fff;
  display: flex;
  align-items: center;
  position: fixed;
  width: calc(100% - 240px);
  left: 240px;
  z-index: 100;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}

.sidebar.active~.home-section nav {
  left: 60px;
  width: calc(100% - 60px);
}

.home-section nav .sidebar-button {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
}

nav .sidebar-button i {
  font-size: 35px;
  margin-right: 10px;
}

.home-section nav .search-box {
  position: relative;
  height: 50px;
  max-width: 550px;
  width: 100%;
  margin: 0 20px;
}

nav .search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  background: #F5F6FA;
  border: 2px solid #EFEEF1;
  border-radius: 6px;
  font-size: 18px;
  padding: 0 15px;
}

nav .search-box .bx-search {
  position: absolute;
  height: 40px;
  width: 40px;
  background: #2697FF;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 4px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 22px;
  transition: all 0.4 ease;
}

.home-section nav .profile-details {
  display: flex;
  align-items: center;
  background: #F5F6FA;
  border: 2px solid #EFEEF1;
  border-radius: 6px;
  height: 50px;
  min-width: 190px;
  padding: 0 15px 0 2px;
}

nav .profile-details img {
  height: 40px;
  width: 40px;
  border-radius: 6px;
  object-fit: cover;
}

nav .profile-details .admin_name {
  font-size: 15px;
  font-weight: 500;
  color: #333;
  margin: 0 10px;
  white-space: nowrap;
}

nav .profile-details i {
  font-size: 25px;
  color: #333;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.hide {
  display: none;
}

.container {
  padding-top: 10vh;
  width: 90vw;
  max-width: 62.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-flashcard-con {
  display: flex;
  justify-content: flex-end;
  padding: 1.2em 1em;
  width: 100%;
  box-sizing: border-box;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.add-flashcard-con button {
  font-size: 1em;
  background-color: #45A29E;
  color: #0B0C10;
  padding: 0.8em 1.2em;
  font-weight: 500;
  border-radius: 0.4em;
}

#card-con {
  margin-top: 1em;
  width: 100%;
}

.card-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

.card-list-container>div {
  flex: 1 1 calc(25% - 1em);
  box-sizing: border-box;
  padding: 1em;
  border: 1px solid #ccc;
  background-color: #1F2833;
}

.no-scroll {
  overflow: hidden;
}

.question-container {
  width: 70%;
  max-width: 100%;
  height: 80%;
  max-height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #1F2833;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3em 2em;
  border-radius: 0.6em;
  box-shadow: 0 1em 2em rgba(28, 0, 80, 0.1);
  overflow: auto;
}

.question-container h2 {
  font-size: 2.2em;
  color: #66FCF1;
  font-weight: 600;
  text-align: center;
  margin-bottom: 2em;
}

.wrapper {
  display: grid;
  grid-template-columns: 11fr 1fr;
  gap: 1em;
  margin-bottom: 1em;
}

.error-con {
  align-self: center;
}

#error {
  color: #ff5353;
  font-weight: 400;
}

.fa-xmark {
  font-size: 1.4em;
  background-color: #45A29E;
  height: 1.8em;
  width: 1.8em;
  display: grid;
  place-items: center;
  color: #0B0C10;
  border-radius: 50%;
  cursor: pointer;
  justify-self: flex-end;
}

label {
  color: #66FCF1;
  font-weight: 600;
  margin-bottom: 0.3em;
}

textarea {
  width: 100%;
  padding: 0.7em 0.5em;
  border: 1px solid #C5C6C7;
  outline: none;
  color: #222b35;
  border-radius: 0.3em;
  resize: none;
}

textarea:not(:last-child) {
  margin-bottom: 1.2em;
}

textarea:focus {
  border-color: #66FCF1;
}

#save-btn {
  font-size: 1em;
  background-color: #45A29E;
  color: #0B0C10;
  padding: 0.6em 0;
  border-radius: 0.3em;
  font-weight: 600;
}

.card-list-container {
  display: grid;
  padding: 0.2em;
  gap: 1.5em;
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  background-color: #1F2833;
  box-shadow: 0 0.4em 1.2em rgba(28, 0, 80, 0.08);
  padding: 1.2em;
  border-radius: 0.4em;
}

.question-div,
.answer-div {
  text-align: justify;
}

.question-div {
  margin-bottom: 0.5em;
  font-weight: 500;
  color: #66FCF1;
}

.answer-div {
  line-height: 1.2;
  margin-top: 1em;
  font-weight: 400;
  color: #C5C6C7;
}

.answer-container .answer-div {
  line-height: 0.8;
}

.show-hide-btn,
.show-more-btn {
  display: block;
  background-color: #45A29E;
  color: #0B0C10;
  text-decoration: none;
  text-align: center;
  padding: 0.6em 0;
  border-radius: 0.3em;
}

.buttons-con {
  display: flex;
  justify-content: flex-end;
}

.edit,
.delete,
.favorite,
.info {
  background-color: transparent;
  padding: 0.5em;
  font-size: 1.2em;
}

.info {
  color: #ccc;
}

.edit {
  color: #45A29E;
}

.delete {
  color: #ff5353;
}

.favorite {
  color: #ff0000;
}

.hide {
  display: none;
}

@media screen and (max-width: 800px) {
  .card-list-container {
    grid-template-columns: 1fr 1fr;
    gap: 0.8em;
  }
}

@media screen and (max-width: 450px) {
  body {
    font-size: 14px;
  }

  .card-list-container {
    grid-template-columns: 1fr;
    gap: 1.2em;
  }
}

.content {
  background-color: #1F2833;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
  color: #C5C6C7;
}

.content input[type="submit"] {
  background-color: #45A29E;
  color: #0B0C10;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
  width: 40%;
  display: flex; /* Adiciona esta linha */
  align-items: center; /* Adiciona esta linha */
  justify-content: center; /* Adiciona esta linha */
}



.content p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 20px 0;
  color: #C5C6C7;
}

.content span {
  font-size: 12px;
  color: #66FCF1;
}

.content a {
  color: #66FCF1;
  font-size: 13px;
  text-decoration: none;
  margin: 15px 0 10px;
}

.content button {
  background-color: #45A29E;
  color: #0B0C10;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}

.content button.hidden {
  background-color: transparent;
  border-color: #C5C6C7;
  color: #C5C6C7;
}

.content form {
  background-color: #1F2833;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  height: 100%;
}

.content input {
  background-color: #C5C6C7;
  border: none;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  width: 100%;
  outline: none;
  color: #222b35;
}

.form-content {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in {
  left: 0;
  width: 50%;
  z-index: 2;
}

.content.active .sign-in {
  transform: translateX(100%);
}

.sign-up {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.content.active .sign-up {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: move 0.6s;
}

@keyframes move {

  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.social-icons {
  margin: 20px 0;
}

.social-icons a {
  border: 1px solid #ccc;
  border-radius: 20%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 3px;
  width: 40px;
  height: 40px;
  color: #66FCF1;
}

.toggle-content {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  border-radius: 150px 0 0 100px;
  z-index: 1000;
}

.content.active .toggle-content {
  transform: translateX(-100%);
  border-radius: 0 150px 100px 0;
}

.toggle {
  background-color: #1F2833;
  height: 100%;
  background: linear-gradient(to right, #45A29E, #1F2833);
  color: #C5C6C7;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.content.active .toggle {
  transform: translateX(50%);
}

.toggle-panel {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.toggle-left {
  transform: translateX(-200%);
}

.content.active .toggle-left {
  transform: translateX(0);
}

.toggle-right {
  right: 0;
  transform: translateX(0);
}

.content.active .toggle-right {
  transform: translateX(200%);
}

.loginpage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #0B0C10;
}

footer {
  background-color: #1F2833;
  position: relative;
  width: 100%;
  min-height: 350px;
  padding: 3rem 1rem;
}

.footercontent {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col {
  min-width: 250px;
  color: #C5C6C7;
  font-family: 'Poppins', sans-serif;
  padding: 0 2rem;
}

.col .logo {
  width: 100px;
  margin-bottom: 25px;
}

.col h3 {
  color: #66FCF1;
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
}

.col h3::after {
  content: '';
  height: 3px;
  width: 0px;
  background-color: #66FCF1;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}

.col h3:hover::after {
  width: 30px;
}

.col .social a i {
  color: #66FCF1;
  margin-top: 2rem;
  margin-right: 5px;
  transition: 0.3s ease;
}

.col .social a i:hover {
  transform: scale(1.5);
  filter: grayscale(25);
}

.col .links a {
  display: block;
  text-decoration: none;
  color: #C5C6C7;
  margin-bottom: 5px;
  position: relative;
  transition: 0.3s ease;
}

.col .links a::before {
  content: '';
  height: 16px;
  width: 3px;
  position: absolute;
  top: 5px;
  left: -10px;
  background-color: #66FCF1;
  transition: 0.5s ease;
  opacity: 0;
}

.col .links a:hover::before {
  opacity: 1;
}

.col .links a:hover {
  transform: translateX(-8px);
  color: #66FCF1;
}

.col .contact-details {
  display: inline-flex;
  justify-content: space-between;
}

.col .contact-details i {
  margin-right: 15px;
}

.row .form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.row .form input {
  background-color: #F5F6FA;
  border: 0;
  outline: none;
  padding: 14px 20px;
  border-radius: 6px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.form button {
  padding: 14px 20px;
  border: 0;
  border-radius: 6px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #66FCF1;
}

@media (max-width: 900px) {
  .row {
    flex-direction: column;
  }

  .col {
    width: 100%;
    text-align: left;
    margin-bottom: 25px;
  }
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }

  .col {
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
  }
}


.comment-box {
  margin-bottom: 20px;
}

.input {
  color: #fff;
  background-color: #1F2833;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  border: #fff 0.5px solid;
}

#add-comment-btn {
  display: block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 40%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

#add-comment-btn:hover {
  background-color: #0056b3;
}

.comment {
  color: #fff;
  background-color: #2b3644;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: #fff 0.5px solid;
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.comment img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.comment .comment-author {
  font-weight: bold;
  color: blue;
  margin-bottom: 5px;
}

.bx-paper-plane {
  font-size: 28px;
}

.comment .date {
  font-size: 0.8em;
  color: #707070;
  margin-left: 10px;
  margin-top: 0.3%;
}

#show-more-title {
  display: inline-block;
  vertical-align: middle;
}

.show-more-favorite {
  position: fixed;
  top: 10px;
  /* ajuste conforme necessário */
  right: 10px;
  /* ajuste conforme necessário */
}

/* Estilo adicional para o botão de favorito, se necessário */
.show-more-favorite button {
  position: fixed;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.register-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  /* largura do botão */
  height: 40px;
  /* altura do botão */
  background-color: white;
  /* cor de fundo branco */
  border: 1px solid #000;
  /* borda preta */
  border-radius: 5px;
  /* opcional: cantos arredondados */
  cursor: pointer;
}

.register-button i {
  color: black;
  /* ícone na cor preta */
  font-size: 24px;
  /* tamanho do ícone */
}