<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/style.css" id="style" title="style">
  <link rel="stylesheet" href="/styles/white.css" id="light" title="Light">
  <link rel="stylesheet alternate" href="/styles/black.css" id="dark" title="Dark" disabled="true">
  <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet" />

</head>

<body>

  <main>
    {{{body}}}

  </main>



  <script src="/scripts/script.js"></script>
</body>

</html>